@import url(../practicalSet-3/fashion.css);

div {
    border: 10px solid orange;
    margin-bottom: 2px;
    padding: 5px;
}

.mainBody {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 0, 1);
    display: inline-block;
    text-align: center;
}

.content {
    height: 590px;
}

.footerBody {
    background-color: rgba(100, 150, 200, 0.5);
    text-align: center;
}
